#body {
  background-color: white;

}
.logoimg {
  background-color: white;
  position: relative;
  padding-left:0.5%;
  padding-right:0.5%;
  bottom: 85px;
  border: 2px black solid;

}
.navbar {
  border: 2px black solid;

}
.donateCard {
  width: 35%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 50px;
}
.buy{
  background-image: url('./bottle.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 15%
}
.give{
  background-image: url('https://images-na.ssl-images-amazon.com/images/I/513zU3xX8lL._SL1000_.jpg');
  background-size: 75%;
  background-repeat: no-repeat;
  width: 30%
}
.container{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.ct {
  position: relative;
  width: 30%;
  left: 220px;
  bottom: 50px;
}
.cb {
  position: relative;
  left: 200px;
}
#thanks{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: SkyBlue;
  text-transform: uppercase;
  font-family: impact;
}
.ddi{
  display: flex;
  justify-content: space-around;
}
